.center {
  text-align: center !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.receiver-wrapper{
  margin-left: 2.5rem;
}

input {
  width: 7rem;
}
