<table class="bt-table" mat-table [dataSource]="(gridState.beacons | async) || []">
  <ng-container sticky matColumnDef="Beacon">
    <th mat-header-cell *matHeaderCellDef> beacon name</th>
    <td mat-cell *matCellDef="let beacon">
      <div class="flex-center">
       <app-alias-name-input [originalName]="beacon"></app-alias-name-input>
      </div>
    </td>
  </ng-container>
  <ng-container *ngFor="let receiver of gridState.receivers | async" [matColumnDef]="receiver">
    <th mat-header-cell *matHeaderCellDef
        [ngClass]="{inactive: receiver | isReceiverInactive:(heartBeatServer.activeReceivers | async) }">
      <div class="flex-center">
          <app-alias-name-input [originalName]="receiver"></app-alias-name-input>
      </div>
      <br>
    </th>
    <td mat-cell *matCellDef="let beaconName">
      <app-beacon-data
        *ngIf="gridState.state | async | beaconAtReceiver:receiver:beaconName as beaconData"
        [beaconData]="beaconData"
        [highlightBeacon]="(gridState.likelyIn | async)?.[beaconName]?.id === receiver">
      </app-beacon-data>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnNames | async;sticky:true"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnNames | async"></tr>
</table>

<button mat-button (click)="gridState.clear()">
  clear
</button>
