<table class="bt-table" mat-table [dataSource]="(gridState.beacons | async) || []">
  <ng-container sticky matColumnDef="Beacon">
    <th mat-header-cell *matHeaderCellDef> beacon name</th>
    <td mat-cell *matCellDef="let beacon"> {{beacon}} </td>
  </ng-container>
  <ng-container sticky matColumnDef="LikelyIn">
    <th mat-header-cell *matHeaderCellDef> likely at</th>
    <td mat-cell *matCellDef="let beacon">
      {{receiverAlias.aliasMap| async
      | receiverAlias:(gridState.likelyIn | async)?.[beacon]?.uuid ?? 'cant tell'}}
    </td>
  </ng-container>
  <ng-container *ngFor="let receiver of gridState.receivers | async" [matColumnDef]="receiver">
    <th mat-header-cell *matHeaderCellDef
        [ngClass]="{inactive: receiver | isReceiverInactive:(heartBeatServer.activeReceivers|async) }">
      {{receiverAlias.aliasMap | async | receiverAlias:receiver}}
      <br>
      <ng-container *ngIf="(heartBeatServer.messageCounter | async)?.get(receiver) as messageCount">
        {{messageCount.got}}/{{messageCount.should}}
      </ng-container>
      blah
    </th>
    <td mat-cell *matCellDef="let beaconName">
      <app-beacon-data
        *ngIf="gridState.state | async | beaconAtReceiver:receiver:beaconName as beaconData"
        [beaconData]="beaconData">
      </app-beacon-data>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnNames | async;sticky:true"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnNames | async"></tr>
</table>

<button mat-button (click)="gridState.clear()">
  clear
</button>
