.bt-table {
  text-align: center !important;
}

.mat-mdc-cell, .mat-mdc-header-cell {
  min-width: 100px;
  padding: 0;
  text-align: center;
}

.mat-column-Beacon, .mat-column-LikelyIn {
  border-right: 1px solid currentColor;
  width: 10%;
}

.mat-mdc-header-cell.inactive {
  background: crimson;
}

.center {
  text-align: center !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.receiver-wrapper{
  margin-left: 2.5rem;
}

input {
  width: 7rem;
}
