.inactive {
  background: lightcoral;
}

.active {
  background: #7af67a;
}

.cell {
  width: 100%;
  height: 100%;
  margin: auto;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
